arabic-reshaper==2.1.3
asgiref==3.4.1
cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.5
cssselect2==0.4.1
defusedxml==0.7.1
Django==3.2.5
django-bootstrap-modal-forms==2.1.0
django-crispy-forms==1.11.1
django-widget-tweaks==1.4.8
future==0.18.2
gunicorn==20.1.0
html5lib==1.1
Pillow==8.2.0
psycopg2==2.8.6
pycparser==2.20
PyPDF2==1.26.0
Pyphen==0.10.0
python-bidi==0.4.2
pytz==2020.4
reportlab==3.5.67
six==1.15.0
sqlparse==0.4.1
tinycss2==1.1.0
validate-email==1.3
WeasyPrint==52.4
webencodings==0.5.1
xhtml2pdf==0.2.5
