{%  extends "../base/base.html" %}

{% block content %}
<div id="content-container" class="container p-none">
  <div class="lgn-container col-lg-8">
      <form method="POST">
        {% csrf_token %}
        <table class="table table-dark">

            <tr>
              <td>
                <label for="{{ form.email.id_for_label }}">Email address:</label><br>
                {{ form.email }}
              </td>
            </tr>
            <tr>
              <td>
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                <button id="toggle-password" type="button" class="btn btn-link float-right text-warning text-decoration-none">Show password</button><br>
                {{ form.password1 }}
              </td>
            </tr>

        </table>
        <button class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>

<script>
  const passwordInput = document.getElementById('id_password1');
  const togglePasswordButton = document.getElementById('toggle-password');

  togglePasswordButton.addEventListener('click', togglePassword);

  function togglePassword() {
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      togglePasswordButton.textContent = 'Hide password';
      togglePasswordButton.setAttribute('aria-label',
        'Hide password.');
    } else {
      passwordInput.type = 'password';
      togglePasswordButton.textContent = 'Show password';
      togglePasswordButton.setAttribute('aria-label',
        'Show password as plain text. ' +
        'Warning: this will display your password on the screen.');
    }
  }
</script> 

{% endblock %}