{%  extends "../base/base.html" %}

{% block content %}
<div id="content-container" class="container p-none">
  <div class="lgn-container col-lg-8">
      <form method="POST">
        {% csrf_token %}
        <table class="table table-dark">
          {% for field in form %}
            <tr>
              <td>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                <div>
                  {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                  {% endfor %}
              </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <button class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>
{% endblock %}