{% if request.user.is_authenticated %}
    <form action='{% url "accounts:myimpliedatmscreeners" %}' method="POST">
        {% csrf_token %}
        {% if is_fav %}
            <button type="submit" id="fav" name="optionatmseries_id" value={{optionseries_id}} class="btn btn-outline-danger">Remove from My Screeners</button>
        {% else %}
            <button type="submit" id="fav" name="optionatmseries_id" value={{optionseries_id}} class="btn btn-outline-primary">Add to My Screeners</button>
        {% endif %}
    </form>
{% else %}
    <a class="btn btn-outline-primary" href='{% url "accounts:login" %}' role="button">Add to My Screeners</a>
{% endif %}