{%  extends "../base/base.html" %}
{% block content %}

<div class="mt-3 container bg-white text-dark">

    <div class="row d-flex justify-content-between mb-3">
        {% if myportfolios %}
        <div><h4>My Portfolios</h4></div>
        <div class="btn-group" role="group" aria-label="Portfolio create delete">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">Create Portfolio</button>
            <button type="button" class="btn btn-link" id="del_btn">Delete Portfolio</button>
        </div>
            <div class="mt-3 container bg-white text-dark">
                <!-- Modal -->
                <div class="modal fade container" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Portfolio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if form.errors %}
                                    <p class=" label label-danger">
                                        Name must be less than 30 characters long
                                    </p>
                                {% endif %}                                    
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </div>   
</div>
<div class="container bg-white text-dark">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                <tr>
                    <th><small><strong></strong></small></th>
                    <th><small><strong>Portfolio Name</strong></small></th>
                </tr>
                {%csrf_token%}
                {% for portfolio in myportfolios %}
                    <tr id="{{portfolio.id}}">
                        <td><input type="checkbox" name="portfolio_id[]" value="{{portfolio.id}}" id="del_option"></td>
                        <td><small><a href="#">{{ portfolio.name }}</a></small></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        {% else %}
            <div class="col-md-12 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">My Portfolios</h5>
                        <p class="card-text d-flex justify-content-center">Your list is empty. Create a portfolio to start monitoring.</p>                       
                    </div>
                    <div class="row d-flex justify-content-center mb-3">
                        <button type="button" class="btn btn-primary d-flex flex-wrap align-content-center" data-toggle="modal" data-target="#exampleModal">
                            <small>Create Portfolio</small> 
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create Portfolio</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        {% if form.errors %}
                                            <p class="label label-danger">
                                                Name must be less than 30 characters long
                                            </p>
                                        {% endif %}                                    
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#del_btn').click(function(){

                var id=[];
                var csrf=$('input[name=csrfmiddlewaretoken]').val();
                $(':checkbox:checked').each(function(i){
                    id[i]=$(this).val()
                })
                if(id.length===0){
                    alert("Please select at least one option to add to my screeners")
                }else{
                    console.log(id)
                    $.ajax({
                        url:'{% url "accounts:portfolio-delete" %}',
                        method:"POST",
                        data:{
                            id,
                            csrfmiddlewaretoken:csrf
                        },
                        success:function(response){
                            for (var i=0; i < id.length; i++){
                                $('tr#'+id[i]+'').css('background-color', '#ccc');
                                $('tr#'+id[i]+'').fadeOut('slow');
                            }
                        }
                    })
                }
                $( 'input[type="checkbox"]' ).prop('checked', false);
        })
    })
</script>

{% endblock %}