<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{portfolio.name}} valuation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <div class="w-50">
        <div class="row">
          <p><strong>Portfolio performance as of {{ today|date:"SHORT_DATE_FORMAT" }} - ({{portfolio.name}})</strong></p>
            
                  <div class="table-responsive">
                    <table class="table table-sm table-bordered mt-2">
                        <tr>
                          <td>Active Options</td>
                          <td>{{active_options_count}}</td>
                        </tr>
                        <tr>
                          <td>Active Futures</td>
                          <td>{{active_futures_count}}</td>
                        </tr>
                        <tr>
                          <td>Stocks</td>
                          <td>{{stocks_count}}</td>
                        </tr>
                        <tr>
                          <td>Total Valuation (€)</td>
                          <td>{{total_portfolio_valuation|floatformat:2}}</td>
                        </tr>
                        <tr>
                          <td>Total Payoff (€)</td>
                          <td>
                            {% if total_portfolio_payoff < 0 %}
                            <div class="change-negative"> 
                            {% else %} 
                            <div class="change-positive">
                            {% endif %}
                            {{total_portfolio_payoff|floatformat:2}}
                            </div>
                          </td>
                        </tr>
                    </table>
                  </div>
            
        </div>
      </div>
      <div class="w-100">
        <div class="row">
          <div class="col">
            <div id="accordion">
              <div class="card mt-2">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Active Options Analysis
                    </button>
                  </h5>
                </div>
                {% if active_options %}
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-sm table-bordered mt-2">
                            <tr>
                              <td>Total Options Debit/Credit (€)</td>
                              <td>{{total_option_debit_credit|floatformat:2}}</td>
                            </tr>
                            <tr>
                              <td>Total Options Valuation (€)</td>
                              <td>{{total_option_valuation|floatformat:2}}</td>
                            </tr>
                            <tr>
                              <td>Total Options Payoff (€)</td>
                              <td>
                                {% if total_option_payoff < 0 %}
                                <div class="change-negative"> 
                                {% else %} 
                                <div class="change-positive">
                                {% endif %}
                                {{total_option_payoff|floatformat:2}}
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>Total Options Delta</td>
                              <td>{{total_option_delta|floatformat:2}}</td>
                            </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="mt-1"><center><p>{{portfolio.name}} does not contain any active options.</p></center></div>
                {% endif %}
              </div>
              <div class="card mt-2">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Active Futures Analysis
                    </button>
                  </h5>
                </div>
                {% if active_futures %}
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-sm table-bordered mt-2">
                            <tr>
                              <td>Total Futures Debit/Credit (€)</td>
                              <td>{{total_future_debit_credit|floatformat:2}}</td>
                            </tr>
                            <tr>
                              <td>Total Futures Valuation (€)</td>
                              <td>{{total_future_valuation|floatformat:2}}</td>
                            </tr>
                            <tr>
                              <td>Total Futures Payoff (€)</td>
                              <td>
                                {% if total_future_payoff < 0 %}
                                <div class="change-negative"> 
                                {% else %} 
                                <div class="change-positive">
                                {% endif %}
                                {{total_future_payoff|floatformat:2}}
                                </div>
                              </td>
                            </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="mt-1"><center><p>{{portfolio.name}} does not contain any active futures.</p></center></div>
                {% endif %}
              </div>
              <div class="card mt-2">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Stocks Analysis
                    </button>
                  </h5>
                </div>
                {% if stocks %}
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-sm table-bordered mt-2">
                            <tr>
                              <td>Total Stocks Debit (€)</td>
                              <td>{{total_stock_debit_credit|floatformat:2}}</td>
                            </tr>
                            <tr>
                              <td>Total Stocks Valuation (€)</td>
                              <td>{{total_stock_valuation|floatformat:2}}</td>
                            </tr>
                            <tr>
                              <td>Total Stocks Payoff (€)</td>
                              <td>
                                {% if total_stock_payoff < 0 %}
                                <div class="change-negative"> 
                                {% else %} 
                                <div class="change-positive">
                                {% endif %}
                                {{total_stock_payoff|floatformat:2}}
                                </div>
                              </td>
                            </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="mt-1"><center><p>{{portfolio.name}} does not contain any stocks.</p></center></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
        </body>
        </html>