{%  extends "../base/base.html" %}
{% block content %}


<div class="container bg-light text-dark">
  <div class="row">
    <div class="col-sm-7 mb-2">
      <h3>Futures Screeners</h3>
      <form method="GET">
        {{ futurescreenerform.as_p }}
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="vline col-sm-3">
      <div class="row">
        <p class="num-results">Number of results</p>
      </div>
      <div id="results" class="row">
        {% if exp_month_query and exp_year_query %}
          <h1 class="results">{{ queryset_num }}</h1>
        {% else %}
          <h1 class="results">0</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if exp_month_query and exp_year_query %}
  <div class="mt-5 container bg-white text-dark">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <tr>
            <th><small><strong></strong></small></th>
            <th><small><strong>Symbol</strong></small></th>
            <th><small><strong>Asset</strong></small></th>
            <th><small><strong>Latest Trading Date</strong></small></th>
            <th><small><strong>Closing Price</strong></small></th>
            <th><small><strong>Change</strong></small></th>
            <th><small><strong>Volume</strong></small></th>
            <th><small><strong>Trades</strong></small></th>
            <th><small><strong>Open Interest</strong></small></th>
            <th><small><strong>Expiration Date</strong></small></th>
          </tr>
          {%csrf_token%}
          {% for future in page_obj %}
            <tr>
              <td><input type="checkbox" name="future_id[]" value="{{future.id}}" id="fav_future"></td>
              <td><small><a href="{% url 'option_pricing:future_screener_detail' future.futuresymbol.symbol %}">{{ future.futuresymbol.symbol }}</a></small></td>
              <td><small>{{ future.futuresymbol.get_asset_display}}</small></td>
              <td><small>{{ future.date|date:"SHORT_DATE_FORMAT" }}</small></td>
              <td><small>{{ future.closing_price|floatformat:2 }}</small></td>
              <td><small>
                {% if future.change < 0 %}
                  <div class="change-negative"> 
                {% else %} 
                  <div class="change-positive">
                {% endif %}
                  {{ future.change }}%
                </div>
              </small></td>
              <td><small>{{ future.volume }}</small></td>
              <td><small>{{ future.trades }}</small></td>
              <td><small>{{ future.open_interest }}</small></td>
              <td><small>{{ future.futuresymbol.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="mt-2 row d-flex justify-content-between">
        {% if request.user.is_authenticated %}
            <button id="fav_btn" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
        {% else %}
            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
        {% endif %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a></li>
          {% endif %}
          {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
              <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ n }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ n }}<span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ n }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ n }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#fav_btn').click(function(){

                var id=[];
                var csrf=$('input[name=csrfmiddlewaretoken]').val();
                $(':checkbox:checked').each(function(i){
                    id[i]=$(this).val()
                })
                if(id.length===0){
                    alert("Please select at least one future contract to add to my screeners")
                }else{
                    console.log(id)
                    $.ajax({
                        url:".",
                        method:"POST",
                        data:{
                            id,
                            csrfmiddlewaretoken:csrf
                        },
                        success:function(response){
                            alert("Futures successfully added to my screeners");
                            
                        }
                    })
                }
                $( 'input[type="checkbox"]' ).prop('checked', false);
        })
    })
</script>


{% endblock content %}