{%  extends "../base/base.html" %}
{% block content %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>-->

<div class="container bg-white text-dark d-flex flex-wrap overflow-auto justify-content-start">
  <div class="row">
      <div class="col-md-12">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a href="#chart" class="nav-link" role="tab" data-toggle="tab"></a>
              </li>
          </ul>
          <div class="my-3 tab-content justify-content-center">
            <div role="tabpanel" class="tab-pane active" id="chart">
                <div class="container bg-white text-dark" style="position: relative;">
                    <div class="row ml-1 mb-3">
                        <h4>Daily Futures Statistics {{max_date}}</h4>
                    </div>
                    <div id="carouselFutureIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active bg-light">
                            <div class="row ml-1">
                                <div class="col-md-12 d-flex justify-content-start">
                                    <p class="font-weight-bold">Volume per Underlying</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <canvas id="dailyVolumeChart" width="400" height="150"></canvas>
                              </div>
                              <div class="btn-group-vertical mt-3 mx-2">    
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item bg-light">
                            <div class="row ml-1">
                                <div class="col-md-12 d-flex justify-content-start">
                                    <p class="font-weight-bold">Volume per Expiration Month</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <canvas id="seriesVolumeAllChart" width="400" height="150"></canvas>
                              </div>
                              <div class="btn-group-vertical mt-3 mx-2">    
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item bg-light">
                            <div class="row ml-1">
                                <div class="col-md-12 d-flex justify-content-start">
                                    <p class="font-weight-bold">Volume per Expiration Month - FTSE</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <canvas id="seriesVolumeFtseChart" width="400" height="150"></canvas>
                              </div>
                              <div class="btn-group-vertical mt-3 mx-2">    
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item bg-light">
                            <div class="row ml-1">
                                <div class="col-md-12 d-flex justify-content-start">
                                    <p class="font-weight-bold">Open Interest per Underlying</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                  <canvas id="dailyOpenIntChart" width="400" height="150"></canvas>
                              </div>
                              <div class="btn-group-vertical mt-3 mx-2">    
                              </div>
                            </div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselFutureIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselFutureIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>

<script> 

    var max_date = "{{max_date}}"

  var dataURLvolumeall = `{% url 'option_pricing:dailyvolumefutures'%}`
  var dataURLvolumeseriesall = `{% url 'option_pricing:seriesvolumefuturesall'%}`
  var dataURLvolumeseriesftse = `{% url 'option_pricing:seriesvolumefuturesftse'%}`
  var dataURLopenintall = `{% url 'option_pricing:dailyopenintfutures'%}`

  var statevolume ={	
  'itemsvol':[],
  'valuesvol':[],
  'itemsseriesvolall':[],
  'valuesseriesvolall':[],
  'itemsseriesvolftse':[],
  'valuesseriesvolftse':[],
  'itemsopenint':[],
  'valuesopenint':[],
  }

  $.ajax({
        method: "GET",
        url: dataURLvolumeall,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
              
                statevolume.itemsvol.push(key)
                statevolume.valuesvol.push(value)
            }
            console.log(statevolume.itemsvol)
            console.log(statevolume.valuesvol)
            setVolChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
  })

  $.ajax({
        method: "GET",
        url: dataURLvolumeseriesall,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
                var value = Object.values(response[i])[0]
              
                statevolume.itemsseriesvolall.push(key_stripped_stripped)
                statevolume.valuesseriesvolall.push(value)
            }
            console.log(statevolume.itemsseriesvolall)
            console.log(statevolume.valuesseriesvolall)
            setVolSeriesAllChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
  })

  $.ajax({
        method: "GET",
        url: dataURLvolumeseriesftse,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
                var value = Object.values(response[i])[0]
              
                statevolume.itemsseriesvolftse.push(key_stripped_stripped)
                statevolume.valuesseriesvolftse.push(value)
            }
            console.log(statevolume.itemsseriesvolftse)
            console.log(statevolume.valuesseriesvolftse)
            setVolSeriesFtseChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
  })

  $.ajax({
        method: "GET",
        url: dataURLopenintall,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
              
                statevolume.itemsopenint.push(key)
                statevolume.valuesopenint.push(value)
            }
            console.log(statevolume.itemsopenint)
            console.log(statevolume.valuesopenint)
            setOpenIntChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
  })

  function setVolChart(){
    //Chart.defaults.global.defaultFontStyle = 'Bold'
    var ctx = document.getElementById("dailyVolumeChart").getContext('2d');
    
    var dailyVolumeChart = new Chart(ctx, {
    responsive: true,
    type: 'bar',
    data: {
        labels: statevolume.itemsvol,
        datasets: [{
            label: "Daily Volume " + max_date,
            data: statevolume.valuesvol,
            borderWidth: 1,
            borderColor: 'rgba(211, 166, 206, 0.5)',
            backgroundColor: 'rgba(211, 166, 206, 0.5)',
            order: 1
        },
        ]
    },
    options: {
          scales: {
              yAxes: [{
                  id: 'A',
                  position: 'left',
                  type: 'linear',
                  ticks: {
                      beginAtZero:true
                  }
              },
              ],
          },
          legend: {
              display: true,
          }
      }
      })
  }

  function setVolSeriesAllChart(){
    //Chart.defaults.global.defaultFontStyle = 'Bold'
    var ctx = document.getElementById("seriesVolumeAllChart").getContext('2d');
    
    var seriesVolumeAllChart = new Chart(ctx, {
    responsive: true,
    type: 'horizontalBar',
    data: {
        labels: statevolume.itemsseriesvolall,
        datasets: [{
            label: "Daily Volume " + max_date,
            data: statevolume.valuesseriesvolall,
            borderWidth: 1,
            borderColor: 'rgba(211, 166, 206, 0.5)',
            backgroundColor: 'rgba(211, 166, 206, 0.5)',
            order: 1
        },
        ]
    },
    options: {
          scales: {
              xAxes: [{
                  id: 'A',
                  position: 'left',
                  type: 'linear',
                  ticks: {
                      beginAtZero:true
                  }
              },
              ],
          },
          legend: {
              display: true,
          }
      }
      })
  }

  function setVolSeriesFtseChart(){
    //Chart.defaults.global.defaultFontStyle = 'Bold'
    var ctx = document.getElementById("seriesVolumeFtseChart").getContext('2d');
    
    var seriesVolumeFtseChart = new Chart(ctx, {
    responsive: true,
    type: 'bar',
    data: {
        labels: statevolume.itemsseriesvolftse,
        datasets: [{
            label: "Daily Volume " + max_date,
            data: statevolume.valuesseriesvolftse,
            borderWidth: 1,
            borderColor: 'rgba(211, 166, 206, 0.5)',
            backgroundColor: 'rgba(211, 166, 206, 0.5)',
            order: 1
        },
        ]
    },
    options: {
          scales: {
              yAxes: [{
                  id: 'A',
                  position: 'left',
                  type: 'linear',
                  ticks: {
                      beginAtZero:true
                  }
              },
              ],
          },
          legend: {
              display: true,
          }
      }
      })
  }

  function setOpenIntChart(){
    //Chart.defaults.global.defaultFontStyle = 'Bold'
    var ctx = document.getElementById("dailyOpenIntChart").getContext('2d');
    
    var dailyOpenIntChart = new Chart(ctx, {
    responsive: true,
    type: 'bar',
    data: {
        labels: statevolume.itemsopenint,
        datasets: [{
            label: "Daily Open Interest " + max_date,
            data: statevolume.valuesopenint,
            borderWidth: 1,
            borderColor: 'rgba(211, 166, 206, 0.5)',
            backgroundColor: 'rgba(211, 166, 206, 0.5)',
            order: 1
        },
        ]
    },
    options: {
          scales: {
              yAxes: [{
                  id: 'A',
                  position: 'left',
                  type: 'linear',
                  ticks: {
                      beginAtZero:true
                  }
              },
              ],
          },
          legend: {
              display: true,
          }
      }
      })
  }

</script>

{% endblock %}