{%  extends "../base/base.html" %}
{% block content %}

    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h5>Implied Volatility - Active Expiration Series</h5></li>
            </ol>
        </div>
    </nav>

    <div class="container bg-white text-dark d-flex flex-wrap overflow-auto justify-content-start">
<!--     <div class="container light-blue text-dark mb-3">
        <div class="row">
            <div class="col-md-12 mt-2 d-flex justify-content-start">
                <h4>Implied Volatility - Active Expiration Series</h4>
            </div>
        </div>
    </div> -->

    <div class="row w-100">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#ftse" class="nav-link active" role="tab" data-toggle="tab">FTSE</a>
                </li>
                <li class="nav-item">
                    <a href="#alpha" class="nav-link" role="tab" data-toggle="tab">ALPHA</a>
                </li>
                <li class="nav-item">
                    <a href="#ote" class="nav-link" role="tab" data-toggle="tab">OTE</a>
                </li>
                <li class="nav-item">
                    <a href="#ete" class="nav-link" role="tab" data-toggle="tab">ETE</a>
                </li>
                <li class="nav-item">
                    <a href="#opap" class="nav-link" role="tab" data-toggle="tab">OPAP</a>
                </li>
                <li class="nav-item">
                    <a href="#deh" class="nav-link" role="tab" data-toggle="tab">DEH</a>
                </li>
                <li class="nav-item">
                    <a href="#peiraios" class="nav-link" role="tab" data-toggle="tab">PEIRAIOS</a>
                </li>
            </ul>
            <div class="my-3 tab-content justify-content-center">
                <div role="tabpanel" class="tab-pane active" id="ftse">
                    <div class="d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th><small><strong></strong></small></th>
                                    <th><small><strong>Asset</strong></small></th>
                                    <th><small><strong>Option Type</strong></small></th>
                                    <th><small><strong>Expiration Date</strong></small></th>
                                    <th><small><strong>Exercise Prices</strong></small></th>
                                    <th><small><strong></strong></small></th>
                                </tr>
                                {%csrf_token%}
                                {% for series in qs_ftse %}
                                    <tr>
                                        <td><input type="checkbox" name="series_id[]" value="{{series.id}}" id="fav_series"></td>
                                        <td><small>
                                            {% if series.asset == 'HTO' %}
                                                OTE
                                            {% elif series.asset == 'PPC' %}
                                                DEH
                                            {% elif series.asset == 'TPEIR' %}
                                                PEIRAIOS
                                            {% else %}
                                                {{series.asset}}
                                            {% endif %}
                                        </small></td>
                                        <td><small>
                                            {% if series.optiontype == 'c' %}
                                                Call
                                            {% else %}
                                                Put
                                            {% endif %}
                                        </small></td>
                                        <td><small>{{ series.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
                                        <td><small>{{qs_ftse_count}}</small></td>
                                        <td><a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'option_pricing:impliedvolsmile' series.asset series.optiontype series.expmonthdate.month series.expmonthdate.year %}" role="button"><small>Get Chart</small></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="ml-1 mt-2 row">
                        {% if request.user.is_authenticated %}
                            <button id="fav_btn_ftse" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
                        {% else %}
                            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
                        {% endif %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="alpha">
                    <div class="d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th><small><strong></strong></small></th>
                                    <th><small><strong>Asset</strong></small></th>
                                    <th><small><strong>Option Type</strong></small></th>
                                    <th><small><strong>Expiration Date</strong></small></th>
                                    <th><small><strong>Exercise Prices</strong></small></th>
                                    <th><small><strong></strong></small></th>
                                </tr>
                                {%csrf_token%}
                                {% for series in qs_alpha %}
                                    <tr>
                                        <td><input type="checkbox" name="series_id[]" value="{{series.id}}" id="fav_series"></td>
                                        <td><small>
                                            {% if series.asset == 'HTO' %}
                                                OTE
                                            {% elif series.asset == 'PPC' %}
                                                DEH
                                            {% elif series.asset == 'TPEIR' %}
                                                PEIRAIOS
                                            {% else %}
                                                {{series.asset}}
                                            {% endif %}
                                        </small></td>
                                        <td><small>
                                            {% if series.optiontype == 'c' %}
                                                Call
                                            {% else %}
                                                Put
                                            {% endif %}
                                        </small></td>
                                        <td><small>{{ series.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
                                        <td><small>{{qs_alpha_count}}</small></td>
                                        <td><a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'option_pricing:impliedvolsmile' series.asset series.optiontype series.expmonthdate.month series.expmonthdate.year %}" role="button"><small>Get Chart</small></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="ml-1 mt-2 row">
                        {% if request.user.is_authenticated %}
                            <button id="fav_btn_alpha" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
                        {% else %}
                            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
                        {% endif %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ote">
                    <div class="d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th><small><strong></strong></small></th>
                                    <th><small><strong>Asset</strong></small></th>
                                    <th><small><strong>Option Type</strong></small></th>
                                    <th><small><strong>Expiration Date</strong></small></th>
                                    <th><small><strong>Exercise Prices</strong></small></th>
                                    <th><small><strong></strong></small></th>
                                </tr>
                                {%csrf_token%}
                                {% for series in qs_ote %}
                                    <tr>
                                        <td><input type="checkbox" name="series_id[]" value="{{series.id}}" id="fav_series"></td>
                                        <td><small>
                                            {% if series.asset == 'HTO' %}
                                                OTE
                                            {% elif series.asset == 'PPC' %}
                                                DEH
                                            {% elif series.asset == 'TPEIR' %}
                                                PEIRAIOS
                                            {% else %}
                                                {{series.asset}}
                                            {% endif %}
                                        </small></td>
                                        <td><small>
                                            {% if series.optiontype == 'c' %}
                                                Call
                                            {% else %}
                                                Put
                                            {% endif %}
                                        </small></td>
                                        <td><small>{{ series.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
                                        <td><small>{{qs_ote_count}}</small></td>
                                        <td><a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'option_pricing:impliedvolsmile' series.asset series.optiontype series.expmonthdate.month series.expmonthdate.year %}" role="button"><small>Get Chart</small></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="ml-1 mt-2 row">
                        {% if request.user.is_authenticated %}
                            <button id="fav_btn_ote" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
                        {% else %}
                            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
                        {% endif %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ete">
                    <div class="d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th><small><strong></strong></small></th>
                                    <th><small><strong>Asset</strong></small></th>
                                    <th><small><strong>Option Type</strong></small></th>
                                    <th><small><strong>Expiration Date</strong></small></th>
                                    <th><small><strong>Exercise Prices</strong></small></th>
                                    <th><small><strong></strong></small></th>
                                </tr>
                                {%csrf_token%}
                                {% for series in qs_ete %}
                                    <tr>
                                        <td><input type="checkbox" name="series_id[]" value="{{series.id}}" id="fav_series"></td>
                                        <td><small>
                                            {% if series.asset == 'HTO' %}
                                                OTE
                                            {% elif series.asset == 'PPC' %}
                                                DEH
                                            {% elif series.asset == 'TPEIR' %}
                                                PEIRAIOS
                                            {% else %}
                                                {{series.asset}}
                                            {% endif %}
                                        </small></td>
                                        <td><small>
                                            {% if series.optiontype == 'c' %}
                                                Call
                                            {% else %}
                                                Put
                                            {% endif %}
                                        </small></td>
                                        <td><small>{{ series.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
                                        <td><small>{{qs_ete_count}}</small></td>
                                        <td><a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'option_pricing:impliedvolsmile' series.asset series.optiontype series.expmonthdate.month series.expmonthdate.year %}" role="button"><small>Get Chart</small></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="ml-1 mt-2 row">
                        {% if request.user.is_authenticated %}
                            <button id="fav_btn_ete" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
                        {% else %}
                            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
                        {% endif %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="opap">
                    <div class="d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th><small><strong></strong></small></th>
                                    <th><small><strong>Asset</strong></small></th>
                                    <th><small><strong>Option Type</strong></small></th>
                                    <th><small><strong>Expiration Date</strong></small></th>
                                    <th><small><strong>Exercise Prices</strong></small></th>
                                    <th><small><strong></strong></small></th>
                                </tr>
                                {%csrf_token%}
                                {% for series in qs_opap %}
                                    <tr>
                                        <td><input type="checkbox" name="series_id[]" value="{{series.id}}" id="fav_series"></td>
                                        <td><small>
                                            {% if series.asset == 'HTO' %}
                                                OTE
                                            {% elif series.asset == 'PPC' %}
                                                DEH
                                            {% elif series.asset == 'TPEIR' %}
                                                PEIRAIOS
                                            {% else %}
                                                {{series.asset}}
                                            {% endif %}
                                        </small></td>
                                        <td><small>
                                            {% if series.optiontype == 'c' %}
                                                Call
                                            {% else %}
                                                Put
                                            {% endif %}
                                        </small></td>
                                        <td><small>{{ series.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
                                        <td><small>{{qs_opap_count}}</small></td>
                                        <td><a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'option_pricing:impliedvolsmile' series.asset series.optiontype series.expmonthdate.month series.expmonthdate.year %}" role="button"><small>Get Chart</small></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="ml-1 mt-2 row">
                        {% if request.user.is_authenticated %}
                            <button id="fav_btn_opap" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
                        {% else %}
                            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
                        {% endif %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="deh">
                    <div class="d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th><small><strong></strong></small></th>
                                    <th><small><strong>Asset</strong></small></th>
                                    <th><small><strong>Option Type</strong></small></th>
                                    <th><small><strong>Expiration Date</strong></small></th>
                                    <th><small><strong>Exercise Prices</strong></small></th>
                                    <th><small><strong></strong></small></th>
                                </tr>
                                {%csrf_token%}
                                {% for series in qs_deh %}
                                    <tr>
                                        <td><input type="checkbox" name="series_id[]" value="{{series.id}}" id="fav_series"></td>
                                        <td><small>
                                            {% if series.asset == 'HTO' %}
                                                OTE
                                            {% elif series.asset == 'PPC' %}
                                                DEH
                                            {% elif series.asset == 'TPEIR' %}
                                                PEIRAIOS
                                            {% else %}
                                                {{series.asset}}
                                            {% endif %}
                                        </small></td>
                                        <td><small>
                                            {% if series.optiontype == 'c' %}
                                                Call
                                            {% else %}
                                                Put
                                            {% endif %}
                                        </small></td>
                                        <td><small>{{ series.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
                                        <td><small>{{qs_deh_count}}</small></td>
                                        <td><a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'option_pricing:impliedvolsmile' series.asset series.optiontype series.expmonthdate.month series.expmonthdate.year %}" role="button"><small>Get Chart</small></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="ml-1 mt-2 row">
                        {% if request.user.is_authenticated %}
                            <button id="fav_btn_deh" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
                        {% else %}
                            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
                        {% endif %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="peiraios">
                    <div class="d-flex justify-content-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <tr>
                                    <th><small><strong></strong></small></th>
                                    <th><small><strong>Asset</strong></small></th>
                                    <th><small><strong>Option Type</strong></small></th>
                                    <th><small><strong>Expiration Date</strong></small></th>
                                    <th><small><strong>Exercise Prices</strong></small></th>
                                    <th><small><strong></strong></small></th>
                                </tr>
                                {%csrf_token%}
                                {% for series in qs_peiraios %}
                                    <tr>
                                        <td><input type="checkbox" name="series_id[]" value="{{series.id}}" id="fav_series"></td>
                                        <td><small>
                                            {% if series.asset == 'HTO' %}
                                                OTE
                                            {% elif series.asset == 'PPC' %}
                                                DEH
                                            {% elif series.asset == 'TPEIR' %}
                                                PEIRAIOS
                                            {% else %}
                                                {{series.asset}}
                                            {% endif %}
                                        </small></td>
                                        <td><small>
                                            {% if series.optiontype == 'c' %}
                                                Call
                                            {% else %}
                                                Put
                                            {% endif %}
                                        </small></td>
                                        <td><small>{{ series.expmonthdate|date:"SHORT_DATE_FORMAT" }}</small></td>
                                        <td><small>{{qs_peiraios_count}}</small></td>
                                        <td><a class="btn btn-sm btn-primary h-25 d-inline-block" href="{% url 'option_pricing:impliedvolsmile' series.asset series.optiontype series.expmonthdate.month series.expmonthdate.year %}" role="button"><small>Get Chart</small></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="ml-1 mt-2 row">
                        {% if request.user.is_authenticated %}
                            <button id="fav_btn_peiraios" class="btn btn-sm btn-primary h-25 d-inline-block">Add to My Screeners</button>
                        {% else %}
                            <a class="btn btn-sm btn-primary h-25 d-inline-block" href='{% url "accounts:register" %}' role="button">Add to My Screeners</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#fav_btn_ftse').click(function(){
                var id=[];
                var csrf=$('input[name=csrfmiddlewaretoken]').val();
                $(':checkbox:checked').each(function(i){
                    id[i]=$(this).val()
                })
                if(id.length===0){
                    alert("Please select at least one expiration series to add to my screeners")
                }else{
                    console.log(id)
                    $.ajax({
                        url:".",
                        method:"POST",
                        data:{
                            id,
                            csrfmiddlewaretoken:csrf
                        },
                        success:function(response){
                            alert("Expiration series successfully added to my screeners");
                            
                        }
                    })
                }
                $( 'input[type="checkbox"]' ).prop('checked', false);
        })

        $('#fav_btn_alpha').click(function(){
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if(id.length===0){
                alert("Please select at least one expiration series to add to my screeners")
            }else{
                console.log(id)
                $.ajax({
                    url:".",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
                    },
                    success:function(response){
                        alert("Expiration series successfully added to my screeners");
                        
                    }
                })
            }
            $( 'input[type="checkbox"]' ).prop('checked', false);
        })

        $('#fav_btn_ote').click(function(){
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if(id.length===0){
                alert("Please select at least one expiration series to add to my screeners")
            }else{
                console.log(id)
                $.ajax({
                    url:".",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
                    },
                    success:function(response){
                        alert("Expiration series successfully added to my screeners");
                        
                    }
                })
            }
            $( 'input[type="checkbox"]' ).prop('checked', false);
        })

        $('#fav_btn_ete').click(function(){
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if(id.length===0){
                alert("Please select at least one expiration series to add to my screeners")
            }else{
                console.log(id)
                $.ajax({
                    url:".",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
                    },
                    success:function(response){
                        alert("Expiration series successfully added to my screeners");
                        
                    }
                })
            }
            $( 'input[type="checkbox"]' ).prop('checked', false);
        })

        $('#fav_btn_opap').click(function(){
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if(id.length===0){
                alert("Please select at least one expiration series to add to my screeners")
            }else{
                console.log(id)
                $.ajax({
                    url:".",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
                    },
                    success:function(response){
                        alert("Expiration series successfully added to my screeners");
                        
                    }
                })
            }
            $( 'input[type="checkbox"]' ).prop('checked', false);
        })

        $('#fav_btn_deh').click(function(){
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if(id.length===0){
                alert("Please select at least one expiration series to add to my screeners")
            }else{
                console.log(id)
                $.ajax({
                    url:".",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
                    },
                    success:function(response){
                        alert("Expiration series successfully added to my screeners");
                        
                    }
                })
            }
            $( 'input[type="checkbox"]' ).prop('checked', false);
        })

        $('#fav_btn_peiraios').click(function(){
            var id=[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val()
            })
            if(id.length===0){
                alert("Please select at least one expiration series to add to my screeners")
            }else{
                console.log(id)
                $.ajax({
                    url:".",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf
                    },
                    success:function(response){
                        alert("Expiration series successfully added to my screeners");
                        
                    }
                })
            }
            $( 'input[type="checkbox"]' ).prop('checked', false);
        })

    })
</script>

{% endblock %}