{%  extends "../base/base.html" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<div class="container light-blue text-dark mb-3 d-flex flex-wrap overflow-auto">
    
    <div class="container light-blue text-dark mb-2">
        <div class="row mb-0">
            <div class="col-md-12 mt-2 d-flex justify-content-start">
                <p class="font-weight-bold text-center mt-2">{{asset}} {{ optiontype }} {{ expmonth }} {{ expyear }} @ 
                    {% if asset == 'FTSE' %}
                        {{ strike|add:"0" }}
                    {% else %}
                        {{ strike }}
                    {% endif %}
                </p>
                <div id="myoption-section" class="col-md-4 mt-1 ml-2">
                    {% include 'accounts/myoptionscreeners_section.html' %}
                </div>
            </div>
            <!--<div id="like-section" class="col-md-4">
                {% include 'accounts/like_section.html' %}
            </div>
            -->
        </div>
        <div class="pl-3 row align-items-stretch">
    
                <div>
                    <h3 class="font-weight-bold">
                        {% if asset == 'FTSE' %}
                        {{closing_price|floatformat:2}}
                    {% else %}
                        {{closing_price|floatformat:3}}
                    {% endif %}
                    </h3>
                </div>
                <div class="p-2 my-auto">
                    <h5 class="vertical">
                        {% if change < 0 %}
                        <div class="change-negative"> 
                        {% else %} 
                        <div class="change-positive">
                        {% endif %}
                        {{ change }}%
                    </h5>
                </div>

        </div>
        <div class="row pl-3"><p><small><strong>Latest trading: {{latest_trad_date}}</strong></small></p></div>
    </div>
    <div class="container bg-white text-dark d-flex flex-wrap overflow-auto justify-content-start">
        <div class="w-100">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs d-flex flex-nowrap">
                        <li class="nav-item">
                            <a href="#summary" class="nav-link active" role="tab" data-toggle="tab">Summary</a>
                        </li>

                        <li class="nav-item">
                            <a href="#chart" class="nav-link" role="tab" data-toggle="tab">Price Chart</a>
                        </li>
                        <li class="nav-item">
                            <a href="#deltachart" class="nav-link" role="tab" data-toggle="tab">Delta Chart</a>
                        </li>
                        <li class="nav-item">
                            <a href="#gammachart" class="nav-link" role="tab" data-toggle="tab">Gamma Chart</a>
                        </li>
                        <li class="nav-item">
                            <a href="#thetachart" class="nav-link" role="tab" data-toggle="tab">Theta Chart</a>
                        </li>
                        <li class="nav-item">
                            <a href="#vegachart" class="nav-link" role="tab" data-toggle="tab">Vega Chart</a>
                        </li>
                        <li class="nav-item">
                            <a href="#impliedchart" class="nav-link" role="tab" data-toggle="tab">Implied Vol Chart</a>
                        </li>
                    </ul>

                    <div class="my-3 tab-content justify-content-start">
                            <div role="tabpanel" class="tab-pane active" id="summary">
                                <div class="d-flex justify-content-start">
                                    <div class="row w-100">
                                        <div class="col-md-3">
                                            <div class="table table-responsive">
                                                <table class="table table-sm table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td><small>Asset:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{asset}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Option Type:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{optiontype}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Expiration Date:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{expdate}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Exercise Price:</small></td>
                                                            <td><small class="font-weight-bold">
                                                                {% if asset == 'FTSE' %}
                                                                    <span style="float: right;">{{ strike|add:"0" }}</span>
                                                                {% else %}
                                                                    <span style="float: right;">{{ strike }}</span>
                                                                {% endif %}
                                                            </small></td>												
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="table table-responsive">
                                                <table class="table table-sm table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td><small>Fixing Price:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{fixing_price}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Volume:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{volume}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Trades:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{trades}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Open Interest:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{open_interest}}</span></small></td>												
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="table table-responsive">
                                                <table class="table table-sm table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td><small>Imp. Volatility:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{imp_vol}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Moneyness:</small></td>
                                                            <td><small class="font-weight-bold">
                                                                {% if moneyness == 'OTM' %}
                                                                <div class="change-negative"> 
                                                                {% else %} 
                                                                <div class="change-positive">
                                                                {% endif %}
                                                                <span style="float: right;">{{moneyness}}</span>
                                                            </small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Lifetime High:</small></td>
                                                            <td><small class="font-weight-bold">
                                                                {% if asset == 'FTSE' %}
                                                                    <span style="float: right;">{{lifetime_high|floatformat:2}}</span>
                                                                {% else %}
                                                                    <span style="float: right;">{{lifetime_high|floatformat:3}}</span>
                                                                {% endif %}
                                                            </small></td>													
                                                        </tr>
                                                        <tr>
                                                            <td><small>Lifetime Low:</small></td>
                                                            <td><small class="font-weight-bold">
                                                                {% if asset == 'FTSE' %}
                                                                    <span style="float: right;">{{lifetime_low|floatformat:2}}</span>
                                                                {% else %}
                                                                    <span style="float: right;">{{lifetime_low|floatformat:3}}</span>
                                                                {% endif %}
                                                            </small></td>												
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="table table-responsive">
                                                <table class="table table-sm table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td><small>Delta:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{delta|floatformat:2}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Gamma:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{gamma|floatformat:2}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Theta per day:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{theta|floatformat:2}}</span></small></td>												
                                                        </tr>
                                                        <tr>
                                                            <td><small>Vega:</small></td>
                                                            <td><small class="font-weight-bold"><span style="float: right;">{{vega|floatformat:2}}</span></small></td>												
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="row w-100">
                                        <div class="col-md-12">
                                            <div class="card text-white bg-info mb-3" style="max-width: 100%;">
                                                <div class="card-body">
                                                    <div class="row mx-1">
                                                        <div class="col-md-1">
                                                        <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="col-md-11">
                                                        <p class="card-text ml-1"><small>Option contract prices correspond to daily closing values.
                                                            Implied volatility and greeks are calculated from Black-Scholes formulas on the basis
                                                            of zero risk-free interest rate. Moneyness can be "in the money" or "out of the money".
                                                        </small>
                                                        </p>
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                            </div>

                            <div role="tabpanel" class="tab-pane" id="chart">
                                <div class="container bg-white text-dark" style="position: relative;">
                                    <div class="row mx-3">
                                        <button class="btn btn-link" onclick="updateChart_1M()"><small>1M</small></button>
                                        <button class="btn btn-link" onclick="updateChart_3M()"><small>3M</small></button>
                                        <button class="btn btn-link" onclick="updateChart_6M()"><small>6M</small></button>
                                        <button class="btn btn-link" onclick="updateChart_ALL()"><small>ALL</small></button>
                                        <button class="btn btn-link"><a href="{% url 'option_pricing:optionsymbol-export-csv' trade_symbol %}"><i class="fas fa-download fa-sm"></i><small> CSV</small></a></button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="optionChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="deltachart">
                                <div class="container bg-white text-dark" style="position: relative;">
                                    <div class="row mx-3">
                                        <button class="btn btn-link" onclick="updatedeltaChart_1M()"><small>1M</small></button>
                                        <button class="btn btn-link" onclick="updatedeltaChart_3M()"><small>3M</small></button>
                                        <button class="btn btn-link" onclick="updatedeltaChart_6M()"><small>6M</small></button>
                                        <button class="btn btn-link" onclick="updatedeltaChart_ALL()"><small>ALL</small></button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="deltaChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="gammachart">
                                <div class="container bg-white text-dark" style="position: relative;">
                                    <div class="row mx-3">
                                        <button class="btn btn-link" onclick="updategammaChart_1M()"><small>1M</small></button>
                                        <button class="btn btn-link" onclick="updategammaChart_3M()"><small>3M</small></button>
                                        <button class="btn btn-link" onclick="updategammaChart_6M()"><small>6M</small></button>
                                        <button class="btn btn-link" onclick="updategammaChart_ALL()"><small>ALL</small></button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="gammaChart"></canvas>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="thetachart">
                                <div class="container bg-white text-dark" style="position: relative;">
                                    <div class="row mx-3">
                                        <button class="btn btn-link" onclick="updatethetaChart_1M()"><small>1M</small></button>
                                        <button class="btn btn-link" onclick="updatethetaChart_3M()"><small>3M</small></button>
                                        <button class="btn btn-link" onclick="updatethetaChart_6M()"><small>6M</small></button>
                                        <button class="btn btn-link" onclick="updatethetaChart_ALL()"><small>ALL</small></button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="thetaChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="vegachart">
                                <div class="container bg-white text-dark" style="position: relative;">
                                    <div class="row mx-3">
                                        <button class="btn btn-link" onclick="updatevegaChart_1M()"><small>1M</small></button>
                                        <button class="btn btn-link" onclick="updatevegaChart_3M()"><small>3M</small></button>
                                        <button class="btn btn-link" onclick="updatevegaChart_6M()"><small>6M</small></button>
                                        <button class="btn btn-link" onclick="updatevegaChart_ALL()"><small>ALL</small></button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="vegaChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="impliedchart">
                                <div class="container bg-white text-dark" style="position: relative;">
                                    <div class="row mx-3">
                                        <button class="btn btn-link" onclick="updateimpliedChart_1M()"><small>1M</small></button>
                                        <button class="btn btn-link" onclick="updateimpliedChart_3M()"><small>3M</small></button>
                                        <button class="btn btn-link" onclick="updateimpliedChart_6M()"><small>6M</small></button>
                                        <button class="btn btn-link" onclick="updateimpliedChart_ALL()"><small>ALL</small></button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <canvas id="impliedChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/chart/${objId}/`
    var dataURLvol = `/options/chart_vol/${objId}/`

    var state ={	
		'items':[],
		'values':[],
		'items_vol':[],
		'values_vol':[],        
        'items23':[],
		'values23':[],
        'items_vol23':[],
        'values_vol23':[],
        'items68':[],
		'values68':[],
        'items_vol68':[],
		'values_vol68':[],  
        'items135':[],
		'values135':[],
        'items_vol135':[],
		'values_vol135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.items23.push(key_stripped_stripped)
                    state.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.items23.push(key_stripped_stripped)
                    state.values23.push(value)}
            }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items.push(key_stripped_stripped)
                state.values.push(value)}

            state.items68 = state.items.slice(-68)
            state.values68 = state.values.slice(-68)   

            state.items135 = state.items.slice(-135)
            state.values135 = state.values.slice(-135)   

            console.log(state.items)
            console.log(state.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataURLvol,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.items_vol23.push(key_stripped_stripped)
                    state.values_vol23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.items_vol23.push(key_stripped_stripped)
                    state.values_vol23.push(value)}
                }
            
                
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items_vol.push(key_stripped_stripped)
				state.values_vol.push(value)}

            state.items_vol68 = state.items_vol.slice(-68)
            state.values_vol68 = state.values_vol.slice(-68) 

            state.items_vol135 = state.items_vol.slice(-135)
            state.values_vol135 = state.values_vol.slice(-135) 

            console.log(state.items)
            console.log(state.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("optionChart");
    
    var optionChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: state.items23,
        datasets: [{
            label: objId,
            data: state.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },{
            type: 'bar',
            label: 'Volume',
            data: state.values_vol23,
            yAxisID: 'B',
            borderWidth: 1,
            borderColor: 'rgba(244, 137, 244)',
            order: 2
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },{
                id: 'B',
                position: 'right',
                type: 'linear',
                ticks: {
                    beginAtZero:true,
                    display: false
                },
                gridLines: {
                display:false
                }
            }
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updateChart_1M(){
        optionChart.data.labels = state.items23;
        optionChart.data.datasets[0].data = state.values23;
        optionChart.data.datasets[1].data = state.values_vol23;
        optionChart.update();
    };

    function updateChart_3M(){
        optionChart.data.labels = state.items68;
        optionChart.data.datasets[0].data = state.values68;
        optionChart.data.datasets[1].data = state.values_vol68;
        optionChart.update();
    };

    function updateChart_6M(){
        optionChart.data.labels = state.items135;
        optionChart.data.datasets[0].data = state.values135;
        optionChart.data.datasets[1].data = state.values_vol135;
        optionChart.update();
    };

    function updateChart_ALL(){
        optionChart.data.labels = state.items;
        optionChart.data.datasets[0].data = state.values;
        optionChart.data.datasets[1].data = state.values_vol;
        optionChart.update();
    };


</script>

<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/deltachart/${objId}/`

    var deltastate ={	
		'items':[],
		'values':[],   
        'items23':[],
		'values23':[],
        'items68':[],
		'values68':[],  
        'items135':[],
		'values135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    deltastate.items23.push(key_stripped_stripped)
                    deltastate.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    deltastate.items23.push(key_stripped_stripped)
                    deltastate.values23.push(value)}
                }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				deltastate.items.push(key_stripped_stripped)
                deltastate.values.push(value)}

            deltastate.items68 = deltastate.items.slice(-68)
            deltastate.values68 = deltastate.values.slice(-68)   

            deltastate.items135 = deltastate.items.slice(-135)
            deltastate.values135 = deltastate.values.slice(-135)   

            console.log(deltastate.items)
            console.log(deltastate.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("deltaChart");
    
    var deltaChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: deltastate.items23,
        datasets: [{
            label: objId.concat(' delta'),
            data: deltastate.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updatedeltaChart_1M(){
        deltaChart.data.labels = deltastate.items23;
        deltaChart.data.datasets[0].data = deltastate.values23;
        deltaChart.update();
    };

    function updatedeltaChart_3M(){
        deltaChart.data.labels = deltastate.items68;
        deltaChart.data.datasets[0].data = deltastate.values68;
        deltaChart.update();
    };

    function updatedeltaChart_6M(){
        deltaChart.data.labels = deltastate.items135;
        deltaChart.data.datasets[0].data = deltastate.values135;
        deltaChart.update();
    };

    function updatedeltaChart_ALL(){
        deltaChart.data.labels = deltastate.items;
        deltaChart.data.datasets[0].data = deltastate.values;
        deltaChart.update();
    };


</script>

<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/gammachart/${objId}/`

    var gammastate ={	
		'items':[],
		'values':[],   
        'items23':[],
		'values23':[],
        'items68':[],
		'values68':[],  
        'items135':[],
		'values135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    gammastate.items23.push(key_stripped_stripped)
                    gammastate.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    gammastate.items23.push(key_stripped_stripped)
                    gammastate.values23.push(value)}
                }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				gammastate.items.push(key_stripped_stripped)
                gammastate.values.push(value)}

            gammastate.items68 = gammastate.items.slice(-68)
            gammastate.values68 = gammastate.values.slice(-68)   

            gammastate.items135 = gammastate.items.slice(-135)
            gammastate.values135 = gammastate.values.slice(-135)   

            console.log(gammastate.items)
            console.log(gammastate.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("gammaChart");
    
    var gammaChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: gammastate.items23,
        datasets: [{
            label: objId.concat(' gamma'),
            data: gammastate.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updategammaChart_1M(){
        gammaChart.data.labels = gammastate.items23;
        gammaChart.data.datasets[0].data = gammastate.values23;
        gammaChart.update();
    };

    function updategammaChart_3M(){
        gammaChart.data.labels = gammastate.items68;
        gammaChart.data.datasets[0].data = gammastate.values68;
        gammaChart.update();
    };

    function updategammaChart_6M(){
        gammaChart.data.labels = gammastate.items135;
        gammaChart.data.datasets[0].data = gammastate.values135;
        gammaChart.update();
    };

    function updategammaChart_ALL(){
        gammaChart.data.labels = gammastate.items;
        gammaChart.data.datasets[0].data = gammastate.values;
        gammaChart.update();
    };


</script>

<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/thetachart/${objId}/`

    var thetastate ={	
		'items':[],
		'values':[],   
        'items23':[],
		'values23':[],
        'items68':[],
		'values68':[],  
        'items135':[],
		'values135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    thetastate.items23.push(key_stripped_stripped)
                    thetastate.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    thetastate.items23.push(key_stripped_stripped)
                    thetastate.values23.push(value)}
                }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				thetastate.items.push(key_stripped_stripped)
                thetastate.values.push(value)}

            thetastate.items68 = thetastate.items.slice(-68)
            thetastate.values68 = thetastate.values.slice(-68)   

            thetastate.items135 = thetastate.items.slice(-135)
            thetastate.values135 = thetastate.values.slice(-135)   

            console.log(thetastate.items)
            console.log(thetastate.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("thetaChart");
    
    var thetaChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: thetastate.items23,
        datasets: [{
            label: objId.concat(' theta'),
            data: thetastate.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updatethetaChart_1M(){
        thetaChart.data.labels = thetastate.items23;
        thetaChart.data.datasets[0].data = thetastate.values23;
        thetaChart.update();
    };

    function updatethetaChart_3M(){
        thetaChart.data.labels = thetastate.items68;
        thetaChart.data.datasets[0].data = thetastate.values68;
        thetaChart.update();
    };

    function updatethetaChart_6M(){
        thetaChart.data.labels = thetastate.items135;
        thetaChart.data.datasets[0].data = thetastate.values135;
        thetaChart.update();
    };

    function updatethetaChart_ALL(){
        thetaChart.data.labels = thetastate.items;
        thetaChart.data.datasets[0].data = thetastate.values;
        thetaChart.update();
    };


</script>

<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/vegachart/${objId}/`

    var vegastate ={	
		'items':[],
		'values':[],   
        'items23':[],
		'values23':[],
        'items68':[],
		'values68':[],  
        'items135':[],
		'values135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    vegastate.items23.push(key_stripped_stripped)
                    vegastate.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    vegastate.items23.push(key_stripped_stripped)
                    vegastate.values23.push(value)}
                }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				vegastate.items.push(key_stripped_stripped)
                vegastate.values.push(value)}

            vegastate.items68 = vegastate.items.slice(-68)
            vegastate.values68 = vegastate.values.slice(-68)   

            vegastate.items135 = vegastate.items.slice(-135)
            vegastate.values135 = vegastate.values.slice(-135)   

            console.log(vegastate.items)
            console.log(vegastate.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("vegaChart");
    
    var vegaChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: vegastate.items23,
        datasets: [{
            label: objId.concat(' vega'),
            data: vegastate.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updatevegaChart_1M(){
        vegaChart.data.labels = vegastate.items23;
        vegaChart.data.datasets[0].data = vegastate.values23;
        vegaChart.update();
    };

    function updatevegaChart_3M(){
        vegaChart.data.labels = vegastate.items68;
        vegaChart.data.datasets[0].data = vegastate.values68;
        vegaChart.update();
    };

    function updatevegaChart_6M(){
        vegaChart.data.labels = vegastate.items135;
        vegaChart.data.datasets[0].data = vegastate.values135;
        vegaChart.update();
    };

    function updatevegaChart_ALL(){
        vegaChart.data.labels = vegastate.items;
        vegaChart.data.datasets[0].data = vegastate.values;
        vegaChart.update();
    };


</script>

<script> 
    function decimaltwo(x) {
    return Number.parseFloat(x).toFixed(2);
    }

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/impliedchart/${objId}/`

    var impliedstate ={	
		'items':[],
		'values':[],   
        'items23':[],
		'values23':[],
        'items68':[],
		'values68':[],  
        'items135':[],
		'values135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = decimaltwo(Object.values(response[i])[0]*100)
            
                    impliedstate.items23.push(key_stripped_stripped)
                    impliedstate.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = decimaltwo(Object.values(response[i])[0]*100)
            
                    impliedstate.items23.push(key_stripped_stripped)
                    impliedstate.values23.push(value)}
                }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = decimaltwo(Object.values(response[i])[0]*100)
           
				impliedstate.items.push(key_stripped_stripped)
                impliedstate.values.push(value)}

            impliedstate.items68 = impliedstate.items.slice(-68)
            impliedstate.values68 = impliedstate.values.slice(-68)   

            impliedstate.items135 = impliedstate.items.slice(-135)
            impliedstate.values135 = impliedstate.values.slice(-135)   

            console.log(impliedstate.items)
            console.log(impliedstate.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("impliedChart");
    
    var impliedChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: impliedstate.items23,
        datasets: [{
            label: objId.concat(' Implied Volatility %'),
            data: impliedstate.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updateimpliedChart_1M(){
        impliedChart.data.labels = impliedstate.items23;
        impliedChart.data.datasets[0].data = impliedstate.values23;
        impliedChart.update();
    };

    function updateimpliedChart_3M(){
        impliedChart.data.labels = impliedstate.items68;
        impliedChart.data.datasets[0].data = impliedstate.values68;
        impliedChart.update();
    };

    function updateimpliedChart_6M(){
        impliedChart.data.labels = impliedstate.items135;
        impliedChart.data.datasets[0].data = impliedstate.values135;
        impliedChart.update();
    };

    function updateimpliedChart_ALL(){
        impliedChart.data.labels = impliedstate.items;
        impliedChart.data.datasets[0].data = impliedstate.values;
        impliedChart.update();
    };


</script>

<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "accounts:like_option" %}',
                data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){
                    $('#like-section').html(response['form'])
                    console.log($('#like-section').html(response['form']));
                },
                error: function(rs, e){
                    console.log(rs. responseText)
                },
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#fav', function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "accounts:myoptionscreeners" %}',
                data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){
                    $('#myoption-section').html(response['form'])
                    console.log($('#myoption-section').html(response['form']));
                },
                error: function(rs, e){
                    console.log(rs. responseText)
                },
            });
        });
    });
</script>


{% endblock %}