{%  extends "../base/base.html" %}
{% block content %}


<div class="container bg-light text-dark">
  <div class="row">
    <div class="col-sm-7 mb-2">
      <h3>Options Screeners</h3>
      <form method="GET">
        {{ optionscreenerform.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit" id="submit-button" onclick="return updateTable();"> 
      </form>
    </div>
    <div class="vline col-sm-3">
      <div class="row">
        <p class="num-results">Number of results</p>
      </div>
      <div id="results" class="row">
        {% if asset_query and callputflag_query and exp_month_query and exp_year_query %}
          <h1 class="results">{{ queryset_num }}</h1>
        {% else %}
          <h1 class="results">0</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div id="myoption-section">
  {% include 'option_pricing/option_screeners_data.html' %}
</div>

<script type="text/javascript">
  function updateTable(){
      $('#submit-button').on('click', function(){

          $.ajax({
            type:"GET",  
            url: '{% url "option_pricing:optionscreenerdata" %}',
            data: {'asset':asset, 'option_type': option_type, 'exp_month': exp_month, 'exp_year':exp_year},
            success: function(response){
                  $('#myoption-section').html(response['form'])
                  console.log($('#myoption-section').html(response['form']));
            },
            error: function(rs, e){
                  console.log(rs. responseText)
            },
          });
      });
  };
</script>

{% endblock content %}