{%  extends "../base/base.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<style>

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav h1 {
    font-size: 28px;
    font-weight: 600;
    }


    header nav .tabs {
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
    }

    header nav .tabs .tab {
    display: block;
    }

    header nav .tabs .tab a[data-switcher] {
        display: block;
        padding: 15px 30px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: #0275d8;
        cursor: pointer;
    }

    header nav .tabs .tab:hover a[data-switcher] {
        background-color: #F7A800;
    }

    header nav .tabs .tab.is-active a[data-switcher] {
        background-color: #F7A800;
        font-weight: 700;
    }

    .pages .page {
        display: none;
    }

    .pages .page.is-active {
        display: block;
    }
</style>

<div class="container light-blue text-dark d-flex flex-wrap overflow-auto">
    <div class="container">
        <div class="row ml-1">
            <h4>Historical Options Statistics</h4>
        </div>
        <div class="row d-flex justify-content-center mb-0">
            <header>
                <nav>
                    <ul class="tabs">
                        <li class="tab is-active">
                            <a data-switcher data-tab="1">All</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="2">Alpha</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="3">Deh</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="4">Ete</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="row d-flex justify-content-start">
            <div class="pages">
                <div class="page is-active" data-page="1">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#summary" class="nav-link active" role="tab" data-toggle="tab">Summary</a>
                            </li>
                        </ul>
                    </div>
                    <div class="my-3 tab-content justify-content-center">
                        <div role="tabpanel" class="tab-pane active" id="chart">
                            <div class="container bg-white text-dark" style="position: relative;">
                                <div class="row mx-3">
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_1M()"><small>1M</small></button>
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_3M()"><small>3M</small></button>
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_6M()"><small>6M</small></button>
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_ALL()"><small>ALL</small></button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="histVolAllChart"></canvas>
                                    </div>
                                    <div class="btn-group-vertical mt-3 mx-2">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" data-page="2">
                    <h2>Page 2</h2>
                    <p>Welcome to the about page</p>
                </div>
                <div class="page" data-page="3">
                    <h2>Page 3</h2>
                    <p>Welcome to the services page</p>
                </div>
                <div class="page" data-page="4">
                    <h2>Page 4</h2>
                    <p>Welcome to the contact page</p>
                </div>
            </div>
        </div>
    </div>
</div>



<script> 

    var histVolAllChart;

    var dataURL = `/options/histvolallcallstats/`

    var state ={	
		'items':[],
		'values':[],
        'items23':[],
		'values23':[],
        'items68':[],
		'values68':[],  
        'items135':[],
		'values135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
            
                    state.items23.push(key)
                    state.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var value = Object.values(response[i])[0]
            
                    state.items23.push(key)
                    state.values23.push(value)}
            }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var value = Object.values(response[i])[0]
           
				state.items.push(key)
                state.values.push(value)}

            state.items23 = state.items.slice(-23)
            state.values23 = state.values.slice(-23) 

            state.items68 = state.items.slice(-68)
            state.values68 = state.values.slice(-68)   

            state.items135 = state.items.slice(-135)
            state.values135 = state.values.slice(-135)   

            console.log(state.items68)
            console.log(state.values68)
            
            setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    function setChart(){
    var ctx = document.getElementById("histVolAllChart").getContext('2d');
    
    histVolAllChart = new Chart(ctx, {
    responsive: true,
    type: 'bar',
    data: {
        labels: state.items68,
        datasets: [{
            label: 'Implied Volatility ATM',
            data: state.values68,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: true,
            order: 1
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
    }
    })
}

    function updatehistVolAllChart_1M(){
        histVolAllChart.data.labels = state.items23;
        histVolAllChart.data.datasets[0].data = state.values23;
        histVolAllChart.update();
    };

    function updatehistVolAllChart_3M(){
        histVolAllChart.data.labels = state.items68;
        histVolAllChart.data.datasets[0].data = state.values68;
        histVolAllChart.update();
    };

    function updatehistVolAllChart_6M(){
        histVolAllChart.data.labels = state.items135;
        histVolAllChart.data.datasets[0].data = state.values135;
        histVolAllChart.update();
    };

    function updatehistVolAllChart_ALL(){
        histVolAllChart.data.labels = state.items;
        histVolAllChart.data.datasets[0].data = state.values;
        histVolAllChart.update();
    };

    

</script>

<script>
    
    window.onload = () => {
        const tab_switchers = document.querySelectorAll('[data-switcher]');

        for (let i = 0; i < tab_switchers.length; i++) {
            const tab_switcher = tab_switchers[i];
            const page_id = tab_switcher.dataset.tab;

            tab_switcher.addEventListener('click', () => {
                document.querySelector('.tabs .tab.is-active').classList.remove('is-active');
                tab_switcher.parentNode.classList.add('is-active');

                SwitchPage(page_id);
            });
        }
    }

    function SwitchPage (page_id) {
        console.log(page_id);

        const current_page = document.querySelector('.pages .page.is-active');
        current_page.classList.remove('is-active');

        const next_page = document.querySelector(`.pages .page[data-page="${page_id}"]`);
        next_page.classList.add('is-active');
    }

</script>

{% endblock %}