{%  extends "../base/base.html" %}
{% block content %}


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<style>

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav h1 {
    font-size: 28px;
    font-weight: 600;
    }


    header nav .tabs {
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
    }

    header nav .tabs .tab {
    display: block;
    }

    header nav .tabs .tab a[data-switcher] {
        display: block;
        padding: 15px 30px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: #0275d8;
        cursor: pointer;
    }

    header nav .tabs .tab:hover a[data-switcher] {
        background-color: #F7A800;
    }

    header nav .tabs .tab.is-active a[data-switcher] {
        background-color: #F7A800;
        font-weight: 700;
    }

    .pages .page {
        display: none;
    }

    .pages .page.is-active {
        display: block;
    }
</style>

<div class="container light-blue text-dark d-flex flex-wrap overflow-auto">
    <div class="container">
        <div class="row ml-1 mb-1">
            <h4>Trending Options Statistics</h4>
        </div>
        <div class="row d-flex justify-content-start mb-0 ml-1">
            <header>
                <nav>
                    <ul class="tabs">
                        <li class="tab is-active">
                            <a data-switcher data-tab="1">All</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="2">ALPHA</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="3">ETE</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="4">FTSE</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="5">OTE</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="6">OPAP</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="7">DEH</a>
                        </li>
                        <li class="tab">
                            <a data-switcher data-tab="8">PEIRAIOS</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="row d-flex justify-content-start">
            <div class="pages">
                <div class="page is-active" data-page="1">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a href="#dailyvol" class="nav-link active" role="tab" data-toggle="tab">Daily Volumes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="my-3 tab-content justify-content-center">
                        <div role="tabpanel" class="tab-pane active" id="dailyvol">
                            <div class="container bg-white text-dark" style="position: relative;">
                                <div class="row mx-3">
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_1M()"><small>1M</small></button>
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_3M()"><small>3M</small></button>
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_6M()"><small>6M</small></button>
                                    <button class="btn btn-link" onclick="updatehistVolAllChart_ALL()"><small>1Y</small></button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="histVolAllChart" width="400" height="150"></canvas>
                                    </div>
                                    <div class="btn-group-vertical mt-3 mx-2">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" data-page="2">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a href="#dailyassetvol2" class="nav-link active" role="tab" data-toggle="tab">Daily Volumes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="my-3 tab-content justify-content-center">
                        <div role="tabpanel" class="tab-pane active" id="dailyassetvol2">
                            <div class="container bg-white text-dark" style="position: relative;">
                                <div class="row mx-3">
                                    <button class="btn btn-link" id="dailyassetvol2-1M"><small>1M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol2-3M"><small>3M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol2-6M"><small>6M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol2-1Y"><small>1Y</small></button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="histVolAssetChart2" width="400" height="150"></canvas>
                                    </div>
                                    <div class="btn-group-vertical mt-3 mx-2">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" data-page="3">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a href="#dailyassetvol3" class="nav-link active" role="tab" data-toggle="tab">Daily Volumes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="my-3 tab-content justify-content-center">
                        <div role="tabpanel" class="tab-pane active" id="dailyassetvol3">
                            <div class="container bg-white text-dark" style="position: relative;">
                                <div class="row mx-3">
                                    <button class="btn btn-link" id="dailyassetvol3-1M"><small>1M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol3-3M"><small>3M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol3-6M"><small>6M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol3-1Y"><small>1Y</small></button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="histVolAssetChart3" width="400" height="150"></canvas>
                                    </div>
                                    <div class="btn-group-vertical mt-3 mx-2">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" data-page="4">
                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a href="#dailyassetvol4" class="nav-link active" role="tab" data-toggle="tab">Daily Volumes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="my-3 tab-content justify-content-center">
                        <div role="tabpanel" class="tab-pane active" id="dailyassetvol4">
                            <div class="container bg-white text-dark" style="position: relative;">
                                <div class="row mx-3">
                                    <button class="btn btn-link" id="dailyassetvol4-1M"><small>1M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol4-3M"><small>3M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol4-6M"><small>6M</small></button>
                                    <button class="btn btn-link" id="dailyassetvol4-1Y"><small>1Y</small></button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="histVolAssetChart4" width="400" height="150"></canvas>
                                    </div>
                                    <div class="btn-group-vertical mt-3 mx-2">
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page" data-page="5">
                    <h2>Page 5</h2>
                    <p>Welcome to the contact page</p>
                </div>
                <div class="page" data-page="6">
                    <h2>Page 6</h2>
                    <p>Welcome to the contact page</p>
                </div>
                <div class="page" data-page="7">
                    <h2>Page 7</h2>
                    <p>Welcome to the contact page</p>
                </div>
                <div class="page" data-page="8">
                    <h2>Page 8</h2>
                    <p>Welcome to the contact page</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var histVolAssetChart;
   
    window.onload = () => {

        const tab_switchers = document.querySelectorAll('[data-switcher]');

        for (let i = 0; i < tab_switchers.length; i++) {
            const tab_switcher = tab_switchers[i];
            const page_id = tab_switcher.dataset.tab;

            const datacallURL = `/options/histvolcallstats/${page_id}/`
            const dataputURL = `/options/histvolputstats/${page_id}/`

            var state ={	
                'itemsassetvolcall':[],
                'valuesassetvolcall':[],   
                'itemsassetput':[],
                'valuesassetput':[],
                'itemsassetvolcall23':[],
                'valuesassetvolcall23':[],
                'itemsassetput23':[],
                'valuesassetput23':[],
                'itemsassetvolcall68':[],
                'valuesassetvolcall68':[], 
                'itemsassetput68':[],
                'valuesassetput68':[], 
                'itemsassetvolcall135':[],
                'valuesassetvolcall135':[], 
                'itemsassetput135':[],
                'valuesassetput135':[],
                'itemsassetvolcall252':[],
                'valuesassetvolcall252':[],                 
                'itemsassetput252':[],
                'valuesassetput252':[],                 
            }

            tab_switcher.addEventListener('click', () => {
                document.querySelector('.tabs .tab.is-active').classList.remove('is-active');
                tab_switcher.parentNode.classList.add('is-active');

                SwitchPage(page_id);

                $.ajax({
                    method: "GET",
                    url: datacallURL,
                    success: function(response){
                        for (var i in response){
                            var key = Object.keys(response[i])[0]
                            var value = Object.values(response[i])[0]
                    
                            state.itemsassetvolcall.push(key)
                            state.valuesassetvolcall.push(value)}

                        state.itemsassetvolcall23 = state.itemsassetvolcall.slice(-23)
                        state.valuesassetvolcall23 = state.valuesassetvolcall.slice(-23)  

                        state.itemsassetvolcall68 = state.itemsassetvolcall.slice(-68)
                        state.valuesassetvolcall68 = state.valuesassetvolcall.slice(-68)   

                        state.itemsassetvolcall135 = state.itemsassetvolcall.slice(-135)
                        state.valuesassetvolcall135 = state.valuesassetvolcall.slice(-135)   

                        state.itemsassetvolcall252 = state.itemsassetvolcall.slice(-252)
                        state.valuesassetvolcall252 = state.valuesassetvolcall.slice(-252) 

                        console.log(state.itemsassetvolcall23)
                        console.log(state.valuesassetvolcall23)
                        
                        setHistVolAssetStatsGraph()
                    },
                    error: function(error_data){
                        console.log("error")
                        console.log(error_data)
                    }
                })

                $.ajax({
                    method: "GET",
                    url: dataputURL,
                    success: function(response){
                        for (var i in response){
                            var key = Object.keys(response[i])[0]
                            var value = Object.values(response[i])[0]
                    
                            state.itemsassetput.push(key)
                            state.valuesassetput.push(value)}

                        state.itemsassetput23 = state.itemsassetput.slice(-23)
                        state.valuesassetput23 = state.valuesassetput.slice(-23) 

                        state.itemsassetput68 = state.itemsassetput.slice(-68)
                        state.valuesassetput68 = state.valuesassetput.slice(-68)   

                        state.itemsassetput135 = state.itemsassetput.slice(-135)
                        state.valuesassetput135 = state.valuesassetput.slice(-135)
                        
                        state.itemsassetput252 = state.itemsassetput.slice(-252)
                        state.valuesassetput252 = state.valuesassetput.slice(-252) 

                        console.log(state.itemsassetput23)
                        console.log(state.valuesassetput23)
                        
                        setHistVolAssetStatsGraph()
                    },
                    error: function(error_data){
                        console.log("error")
                        console.log(error_data)
                    }
                }) 

                document.getElementById('dailyassetvol2-1M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall23;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall23;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput23;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol2-3M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall68;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall68;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput68;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol2-6M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall135;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall135;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput135;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol2-1Y').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall252;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall252;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput252;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol3-1M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall23;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall23;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput23;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol3-3M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall68;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall68;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput68;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol3-6M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall135;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall135;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput135;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol3-1Y').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall252;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall252;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput252;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol4-1M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall23;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall23;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput23;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol4-3M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall68;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall68;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput68;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol4-6M').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall135;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall135;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput135;
                    histVolAssetChart.update();
                }

                document.getElementById('dailyassetvol4-1Y').onclick = function() {
                    histVolAssetChart.data.labels = state.itemsassetvolcall252;
                    histVolAssetChart.data.datasets[0].data = state.valuesassetvolcall252;
                    histVolAssetChart.data.datasets[1].data = state.valuesassetput252;
                    histVolAssetChart.update();
                }
                               
                function setHistVolAssetStatsGraph(){
                    if (histVolAssetChart) {
                        histVolAssetChart.destroy();
                    }
                    var ctx = document.getElementById("histVolAssetChart".concat(page_id)).getContext('2d');
                    
                    histVolAssetChart = new Chart(ctx, {
                    responsive: true,
                    type: 'bar',
                    data: {
                        labels: state.itemsassetvolcall23,
                        datasets: [{
                            label: 'Calls',
                            data: state.valuesassetvolcall23,
                            borderColor: 'rgba(63, 243, 27, 0.5)',
                            backgroundColor: 'rgba(63, 243, 27, 0.5)',

                        },{
                        label: "Puts",
                        data: state.valuesassetput23,
                        borderColor: 'rgba(243, 45, 27, 0.5)',
                        backgroundColor: 'rgba(243, 45, 27, 0.5)',

                        },
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                stacked: true,
                            }
                            ],
                            xAxes: [{
                                stacked: true,
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 20,
                                    maxRotation: 45,
                                    minRotation: 45
                                }
                            }]
                        },
                    }
                    })
                }

            });
        }
    }

    function SwitchPage (page_id) {
        console.log(page_id);

        const current_page = document.querySelector('.pages .page.is-active');
        current_page.classList.remove('is-active');

        const next_page = document.querySelector(`.pages .page[data-page="${page_id}"]`);
        next_page.classList.add('is-active');
    }

</script>

<script> 

    var histVolAllChart;

    var datacallURL = `{% url 'option_pricing:optionhistvolallcallstats'%}`
    var dataputURL = `{% url 'option_pricing:optionhistvolallputstats'%}`

    var state ={	
		'itemscall':[],
		'valuescall':[],
        'itemsput':[],
        'valuesput':[],
        'itemscall23':[],
		'valuescall23':[],
        'itemsput23':[],
		'valuesput23':[],
        'itemscall68':[],
		'valuescall68':[],
        'itemsput68':[],
		'valuesput68':[],    
        'itemscall135':[],
		'valuescall135':[], 
        'itemsput135':[],
		'valuesput135':[], 
	}

    $.ajax({
        method: "GET",
        url: datacallURL,
        success: function(response){

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var value = Object.values(response[i])[0]
           
				state.itemscall.push(key)
                state.valuescall.push(value)}

            state.itemscall23 = state.itemscall.slice(-23)
            state.valuescall23 = state.valuescall.slice(-23)

            state.itemscall68 = state.itemscall.slice(-68)
            state.valuescall68 = state.valuescall.slice(-68)   

            state.itemscall135 = state.itemscall.slice(-135)
            state.valuescall135 = state.valuescall.slice(-135)   

            console.log(state.itemscall23)
            console.log(state.valuescall23)
            
            setHistVolAllStatsGraph()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataputURL,
        success: function(response){

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var value = Object.values(response[i])[0]
           
				state.itemsput.push(key)
                state.valuesput.push(value)}

            state.itemsput23 = state.itemsput.slice(-23)
            state.valuesput23 = state.valuesput.slice(-23) 

            state.itemsput68 = state.itemsput.slice(-68)
            state.valuesput68 = state.valuesput.slice(-68)   

            state.itemsput135 = state.itemsput.slice(-135)
            state.valuesput135 = state.valuesput.slice(-135)   

            console.log(state.itemsput23)
            console.log(state.valuesput23)
            
            setHistVolAllStatsGraph()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    function setHistVolAllStatsGraph(){
        if (histVolAllChart) {
            histVolAllChart.destroy();
        }
        var ctx = document.getElementById("histVolAllChart").getContext('2d');
        
        histVolAllChart = new Chart(ctx, {
        responsive: true,
        type: 'bar',
        data: {
            labels: state.itemscall23,
            datasets: [{
                label: 'Calls',
                data: state.valuescall23,
                borderColor: 'rgba(63, 243, 27, 0.5)',
                backgroundColor: 'rgba(63, 243, 27, 0.5)',

            },{
            label: "Puts",
            data: state.valuesput23,
            borderColor: 'rgba(243, 45, 27, 0.5)',
            backgroundColor: 'rgba(243, 45, 27, 0.5)',

            },
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    stacked: true,
                }
                ],
                xAxes: [{
                    stacked: true,
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 20,
                        maxRotation: 45,
                        minRotation: 45
                    }
                }]
            },
        }
        })
    }

    function updatehistVolAllChart_1M(){
        histVolAllChart.data.labels = state.itemscall23;
        histVolAllChart.data.datasets[0].data = state.valuescall23;
        histVolAllChart.data.datasets[1].data = state.valuesput23;
        histVolAllChart.update();
    };

    function updatehistVolAllChart_3M(){
        histVolAllChart.data.labels = state.itemscall68;
        histVolAllChart.data.datasets[0].data = state.valuescall68;
        histVolAllChart.data.datasets[1].data = state.valuesput68;
        histVolAllChart.update();
    };

    function updatehistVolAllChart_6M(){
        histVolAllChart.data.labels = state.itemscall135;
        histVolAllChart.data.datasets[0].data = state.valuescall135;
        histVolAllChart.data.datasets[1].data = state.valuesput135;
        histVolAllChart.update();
    };

    function updatehistVolAllChart_ALL(){
        histVolAllChart.data.labels = state.itemscall;
        histVolAllChart.data.datasets[0].data = state.valuescall;
        histVolAllChart.data.datasets[1].data = state.valuesput;
        histVolAllChart.update();
    };

</script>


{% endblock %}