{%  extends "../base/base.html" %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<div class="container light-blue text-dark mb-3">
	<div class="row mb-0">
        <div class="col-md-12 mt-2 d-flex justify-content-start">
            <p class="font-weight-bold text-center mt-2">{{asset}} {{ optiontype }} {{ expmonth }} {{ expyear }} @ 
                {% if asset == 'FTSE' %}
                    {{ strike|add:"0" }}
                {% else %}
                    {{ strike }}
                {% endif %}
            </p>
            <div id="myoption-section" class="col-md-4 mt-1 ml-2">
                {% include 'accounts/myoptionscreeners_section.html' %}
            </div>
        </div>
        <!--<div id="like-section" class="col-md-4">
            {% include 'accounts/like_section.html' %}
        </div>
        -->
    </div>
    <div class="pl-3 row align-items-stretch">
 
            <div>
                <h3 class="font-weight-bold">{{closing_price|floatformat:2}}</h3>
            </div>
            <div class="p-2 my-auto">
                <h5 class="vertical">
                    {% if change < 0 %}
                    <div class="change-negative"> 
                    {% else %} 
                    <div class="change-positive">
                    {% endif %}
                    {{ change }}%
                </h5>
            </div>

    </div>
    <div class="row"><div class="col-md-2 align-text-top"><p class="subtext">At close: {{latest_trad_date}}</p></div></div>
</div>
<div class="container bg-white text-dark">
	<div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#summary" class="nav-link active" role="tab" data-toggle="tab">Summary</a>
                </li>

                <li class="nav-item">
                    <a href="#chart" class="nav-link" role="tab" data-toggle="tab">Price Chart</a>
                </li>
                <li class="nav-item">
                    <a href="#deltachart" class="nav-link" role="tab" data-toggle="tab">Delta Chart</a>
                </li>
            </ul>

            <div class="my-3 tab-content">
                    <div role="tabpanel" class="tab-pane active" id="summary">
						<div class="container bg-white">
							<div class="row">
								<div class="col-md-3">
								    <div class="table-responsive">
										<table class="table table-sm table-hover">
											<tbody>
												<tr>
													<td><small>Asset:</small></td>
													<td><small class="font-weight-bold">{{asset}}</small></td>												
												</tr>
												<tr>
													<td><small>Option Type:</small></td>
													<td><small class="font-weight-bold">{{optiontype}}</small></td>												
												</tr>
												<tr>
													<td><small>Expiration Date:</small></td>
													<td><small class="font-weight-bold">{{expdate}}</small></td>												
												</tr>
												<tr>
													<td><small>Exercise Price:</small></td>
													<td><small class="font-weight-bold">
                                                        {% if asset == 'FTSE' %}
                                                            {{ strike|add:"0" }}
                                                        {% else %}
                                                            {{ strike }}
                                                        {% endif %}
                                                    </small></td>												
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-3">
								    <div class="table-responsive">
										<table class="table table-sm table-hover">
											<tbody>
												<tr>
													<td><small>Latest Trading:</small></td>
													<td><small class="font-weight-bold">{{latest_trad_date}}</small></td>												
												</tr>
												<tr>
													<td><small>Volume:</small></td>
													<td><small class="font-weight-bold">{{volume}}</small></td>												
												</tr>
												<tr>
													<td><small>Trades:</small></td>
													<td><small class="font-weight-bold">{{trades}}</small></td>												
												</tr>
												<tr>
													<td><small>Open Interest:</small></td>
													<td><small class="font-weight-bold">{{open_interest}}</small></td>												
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-3">
								    <div class="table-responsive">
										<table class="table table-sm table-hover">
											<tbody>
												<tr>
													<td><small>Imp. Volatility:</small></td>
													<td><small class="font-weight-bold">{{imp_vol}}</small></td>												
												</tr>
												<tr>
													<td><small>Moneyness:</small></td>
													<td><small class="font-weight-bold">
                                                        {% if moneyness == 'OTM' %}
                                                        <div class="change-negative"> 
                                                        {% else %} 
                                                        <div class="change-positive">
                                                        {% endif %}
                                                        {{moneyness}}
                                                    </small></td>												
												</tr>
												<tr>
													<td><small>Lifetime High:</small></td>
													<td><small class="font-weight-bold">{{lifetime_high|floatformat:2}}</small></td>												
												</tr>
												<tr>
													<td><small>Lifetime Low:</small></td>
													<td><small class="font-weight-bold">{{lifetime_low|floatformat:2}}</small></td>												
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-3">
								    <div class="table-responsive">
										<table class="table table-sm table-hover">
											<tbody>
												<tr>
													<td><small>Delta:</small></td>
													<td><small class="font-weight-bold">{{delta|floatformat:2}}</small></td>												
												</tr>
												<tr>
													<td><small>Gamma:</small></td>
													<td><small class="font-weight-bold">{{gamma|floatformat:2}}</small></td>												
												</tr>
												<tr>
													<td><small>Theta per day:</small></td>
													<td><small class="font-weight-bold">{{theta|floatformat:2}}</small></td>												
												</tr>
												<tr>
													<td><small>Vega:</small></td>
													<td><small class="font-weight-bold">{{vega|floatformat:2}}</small></td>												
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>							
                    </div>

					<div role="tabpanel" class="tab-pane" id="chart">
						<div class="container bg-white text-dark">
							<div class="row">
								<div class="col-md-11">
									<canvas id="optionChart" width="400" height="200">
								</div>
                                <div class="col-md-1">
                                    <div class="btn-group-vertical mt-3">
                                        <button class="btn btn-link" onclick="updateChart_1M()">1M</button>
                                        <button class="btn btn-link" onclick="updateChart_3M()">3M</button>
                                        <button class="btn btn-link" onclick="updateChart_6M()">6M</button>
                                        <button class="btn btn-link" onclick="updateChart_ALL()">ALL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="deltachart">
						<div class="container bg-white text-dark">
							<div class="row">
								<div class="col-md-11">
									<canvas id="deltaChart" width="400" height="200">
								</div>
                                <div class="col-md-1">
                                    <div class="btn-group-vertical mt-3">
                                        <button class="btn btn-link" onclick="updatedeltaChart_1M()">1M</button>
                                        <button class="btn btn-link" onclick="updatedeltaChart_3M()">3M</button>
                                        <button class="btn btn-link" onclick="updatedeltaChart_6M()">6M</button>
                                        <button class="btn btn-link" onclick="updatedeltaChart_ALL()">ALL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
		</div>
	</div>
</div>

<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/chart/${objId}/`
    var dataURLvol = `/options/chart_vol/${objId}/`

    var state ={	
		'items':[],
		'values':[],
		'items_vol':[],
		'values_vol':[],        
        'items23':[],
		'values23':[],
        'items_vol23':[],
        'values_vol23':[],
        'items68':[],
		'values68':[],
        'items_vol68':[],
		'values_vol68':[],  
        'items135':[],
		'values135':[],
        'items_vol135':[],
		'values_vol135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.items23.push(key_stripped_stripped)
                    state.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.items23.push(key_stripped_stripped)
                    state.values23.push(value)}
            }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items.push(key_stripped_stripped)
                state.values.push(value)}

            state.items68 = state.items.slice(-68)
            state.values68 = state.values.slice(-68)   

            state.items135 = state.items.slice(-135)
            state.values135 = state.values.slice(-135)   

            console.log(state.items)
            console.log(state.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })

    $.ajax({
        method: "GET",
        url: dataURLvol,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.itemsvol23.push(key_stripped_stripped)
                    state.valuesvol23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    state.itemsvol23.push(key_stripped_stripped)
                    state.valuesvol23.push(value)}
                }
            
                
            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				state.items_vol.push(key_stripped_stripped)
				state.values_vol.push(value)}

            state.items_vol68 = state.items_vol.slice(-68)
            state.values_vol68 = state.values_vol.slice(-68) 

            state.items_vol135 = state.items_vol.slice(-135)
            state.values_vol135 = state.values_vol.slice(-135) 

            console.log(state.items)
            console.log(state.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("optionChart");
    
    var optionChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: state.items23,
        datasets: [{
            label: objId,
            data: state.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },{
            type: 'bar',
            label: 'Volume',
            data: state.values_vol23,
            yAxisID: 'B',
            borderWidth: 1,
            borderColor: 'rgba(244, 137, 244)',
            order: 2
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },{
                id: 'B',
                position: 'right',
                type: 'linear',
                ticks: {
                    beginAtZero:true,
                    display: false
                },
                gridLines: {
                display:false
                }
            }
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updateChart_1M(){
        optionChart.data.labels = state.items23;
        optionChart.data.datasets[0].data = state.values23;
        optionChart.data.datasets[1].data = state.values_vol23;
        optionChart.update();
    };

    function updateChart_3M(){
        optionChart.data.labels = state.items68;
        optionChart.data.datasets[0].data = state.values68;
        optionChart.data.datasets[1].data = state.values_vol68;
        optionChart.update();
    };

    function updateChart_6M(){
        optionChart.data.labels = state.items135;
        optionChart.data.datasets[0].data = state.values135;
        optionChart.data.datasets[1].data = state.values_vol135;
        optionChart.update();
    };

    function updateChart_ALL(){
        optionChart.data.labels = state.items;
        optionChart.data.datasets[0].data = state.values;
        optionChart.data.datasets[1].data = state.values_vol;
        optionChart.update();
    };


</script>

<script> 

    $('.hidethis').hide();

    var objId = "{{trade_symbol}}"
    var dataURL = `/options/deltachart/${objId}/`

    var deltastate ={	
		'items':[],
		'values':[],   
        'items23':[],
		'values23':[],
        'items68':[],
		'values68':[],  
        'items135':[],
		'values135':[], 
	}

    $.ajax({
        method: "GET",
        url: dataURL,
        success: function(response){
            if (response.length > 22) {
                for (let i = response.length - 23; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    deltastate.items23.push(key_stripped_stripped)
                    deltastate.values23.push(value)}
            } else {
                for (let i = response.length - response.length; i < response.length; i++){
                    var key = Object.keys(response[i])[0]
                    var key_stripped = key.replace('"', '')
                    var key_stripped_stripped = key_stripped.replace('"', '')
                    var value = Object.values(response[i])[0]
            
                    deltastate.items23.push(key_stripped_stripped)
                    deltastate.values23.push(value)}
                }

            for (var i in response){
                var key = Object.keys(response[i])[0]
				var key_stripped = key.replace('"', '')
				var key_stripped_stripped = key_stripped.replace('"', '')
				var value = Object.values(response[i])[0]
           
				deltastate.items.push(key_stripped_stripped)
                deltastate.values.push(value)}

            deltastate.items68 = deltastate.items.slice(-68)
            deltastate.values68 = deltastate.values.slice(-68)   

            deltastate.items135 = deltastate.items.slice(-135)
            deltastate.values135 = deltastate.values.slice(-135)   

            console.log(deltastate.items)
            console.log(deltastate.values)
            
            //setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })


    //function setChart(){
    var ctx = document.getElementById("deltaChart");
    
    var deltaChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: deltastate.items23,
        datasets: [{
            label: objId.concat(' Delta'),
            data: deltastate.values23,
            yAxisID: 'A',
            borderWidth: 1,
            borderColor: 'rgba(66,139,202)',
            fill: false,
            order: 1
        },
        ]
    },
    options: {
        scales: {
            yAxes: [{
                id: 'A',
                position: 'left',
                type: 'linear',
                ticks: {
                    beginAtZero:true
                }
            },
            ],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 20,
                    maxRotation: 45,
                    minRotation: 45
                }
            }]
        },
        legend: {
            display: true,
        }
    }
    })

    function updatedeltaChart_1M(){
        deltaChart.data.labels = deltastate.items23;
        deltaChart.data.datasets[0].data = deltastate.values23;
        deltaChart.update();
    };

    function updatedeltaChart_3M(){
        deltaChart.data.labels = deltastate.items68;
        deltaChart.data.datasets[0].data = deltastate.values68;
        deltaChart.update();
    };

    function updatedeltaChart_6M(){
        deltaChart.data.labels = deltastate.items135;
        deltaChart.data.datasets[0].data = deltastate.values135;
        deltaChart.update();
    };

    function updatedeltaChart_ALL(){
        deltaChart.data.labels = deltastate.items;
        deltaChart.data.datasets[0].data = deltastate.values;
        deltaChart.update();
    };


</script>

<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "accounts:like_option" %}',
                data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){
                    $('#like-section').html(response['form'])
                    console.log($('#like-section').html(response['form']));
                },
                error: function(rs, e){
                    console.log(rs. responseText)
                },
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#fav', function(event){
            event.preventDefault();
            var pk = $(this).attr('value');
            $.ajax({
                type: 'POST',
                url: '{% url "accounts:myoptionscreeners" %}',
                data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(response){
                    $('#myoption-section').html(response['form'])
                    console.log($('#myoption-section').html(response['form']));
                },
                error: function(rs, e){
                    console.log(rs. responseText)
                },
            });
        });
    });
</script>


{% endblock %}