{%  extends "../base/base.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active bg-light">
          <!--<img src="..." class="d-block w-100" alt="...">--><canvas id="dailyVolumeChart" width="400" height="150"></canvas>
        </div>
        <div class="carousel-item bg-secondary">
          <!--<img src="..." class="d-block w-100" alt="...">-->Kostas
        </div>
        <div class="carousel-item bg-secondary">
          <!--<img src="..." class="d-block w-100" alt="...">-->Koulis
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>

<script> 

  var latest_date = "{{max_date}}"
  var dataURLcall = `/options/dailyvolumecallgraph/`
  var dataURLput = `/options/dailyvolumeputgraph/`

  var state ={	
  'itemscall':[],
  'valuescall':[],
  'itemsput':[],
  'valuesput':[],
  }

  $.ajax({
        method: "GET",
        url: dataURLcall,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
              
            state.itemscall.push(key)
            state.valuescall.push(value)
            }
            console.log(state.itemscall)
            console.log(state.valuescall)
            setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
  })

  $.ajax({
        method: "GET",
        url: dataURLput,
        success: function(response){
            for (var i in response){
                var key = Object.keys(response[i])[0]
                var value = Object.values(response[i])[0]
              
            state.itemsput.push(key)
            state.valuesput.push(value)
            }
            console.log(state.itemsput)
            console.log(state.valuesput)
            setChart()
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
  })

  function setChart(){
  Chart.defaults.global.defaultFontStyle = 'Bold'
  var ctx = document.getElementById("dailyVolumeChart").getContext('2d');
  
  var dailyVolumeChart = new Chart(ctx, {
  responsive: true,
  type: 'bar',
  data: {
      labels: state.itemscall,
      datasets: [{
          label: "Calls",
          data: state.valuescall,
          borderWidth: 1,
          borderColor: '#11ff00',
          backgroundColor: '#11ff00',
      },{
          label: "Puts",
          data: state.valuesput,
          borderWidth: 1,
          borderColor: '#ff4a4a',
          backgroundColor: '#ff4a4a',
      },
      ]
  },
  options: {
      scales: {
          yAxes: [{

          },
          ],
          xAxes: [{

          }]
      },
  }
  })
  }

</script>

{% endblock %}